<mat-toolbar color="primary">
    <a href="/" style="text-decoration: none;">
      <span class="logo"><i class="fa-solid fa-location-dot"></i>   
        iTravel
      </span>
    </a>
    
    <span class="spacer"></span>
    <div class="toolbar-links">
      <a routerLink="/" mat-button>Home</a>
      <a routerLink="/search" mat-button>Search</a>
      <a routerLink="/airlines" mat-button>Airlines</a>
      <a routerLink="/about" mat-button>About</a>
      <a routerLink="/login" mat-button *ngIf="!service.getActiveUser()">Login</a>
      <a routerLink="/login" mat-button *ngIf="service.getActiveUser()" (click)="doLogout()">Logout</a>
      <a routerLink="/user" mat-button *ngIf="service.getActiveUser()">Profile</a>
      <a routerLink="/signup" mat-button *ngIf="!service.getActiveUser()">Sign Up</a>
    </div>
  </mat-toolbar>
  
  <router-outlet></router-outlet>