.user-card {
  max-width: 350px;
  margin: 30px auto;
}

.actions {
  min-width: 300px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper {
  width: 1200px;
  margin: 30px auto;
}