<!-- Error message -->
<div *ngIf="error" class="error-container">
    <h3 class="error-header">Oops, an error occurred!</h3>
    <p class="error-message">{{error}}</p>
  </div>
  
  <!-- Flights list -->
  <div *ngIf="flights">
    <div class="container">
      <mat-card class="example-card" appearance="outlined" *ngFor="let flight of flights">
        <img mat-card-image [src]="imageURL(flight.destination)" alt="Flight image" class="flight-image">
        <mat-card-content>
          <h1 class="flight-title">{{flight.destination}}</h1>
          <p class="flight-scheduled">{{utils.formatDate(flight.scheduledAt)}}</p>
          <p class="flight-info">Flight number: {{ flight.flightNumber }}</p>
          <p class="flight-info">Plane model: {{ flight.plane }}</p>
        </mat-card-content>
        <mat-card-actions class="flight-actions">
          <button mat-button class="details-btn">
            <i class="fa-solid fa-circle-info"></i> Details
          </button>
          <button mat-button class="book-btn">
            <i class="fa-solid fa-cart-shopping"></i> Book now
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
  <!-- Loading state -->
  <app-loading *ngIf="!flights"/>  